<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat-Da-Burger</title>

</head>

<body>
    <div class="row justify-content-center">
        <div class="col">
            <h1 class="text-center">Eat-Da-Burger</h1>

        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-2 text-center">
            <img src="/assets/img/burger.png" width="150" height="150" alt="">
        </div>
    </div>
    <br>
    {{{body}}}


</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/burgers.js"></script>

</html>