<li>
    {{burger_name}}

    <button class="" data-id="{{id}}">
        {{#if devoured}}DEVOURED{{else}}NOT DEVOURED!{{/if}}
    </button>

    <button class="" data-id="{{this.id}}">DEVOUR!</button>
</li>